{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">{:isset($info['id'])?'编辑':'新增'}用户组</h3>
    </div>
    <div class="panel-body">     
        <form class="form-horizontal form-fixed form-submit" action="{:isset($info['id'])? url('update') : url('save')}">
            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">用户组名称</label>
                <div class="col-md-6 col-xs-12">
                    <input type="text" name="name" class="form-control" value="{$info.name|default=''}">
                    <span class="help-block">名称不能为空</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">用户组别名</label>
                <div class="col-md-4 col-xs-12">
                    <input type="text" name="alias" class="form-control" value="{$info.alias|default=''}">
                    <span class="help-block">留空将自动获取拼音</span>
                </div>

                <label class="col-sm-2 control-label">字体图标</label>
                <div class="col-sm-3">
                    <input type="text" name="icon_font" class="form-control"  value="{$info.hits|default=''}">
                    <span class="help-block">用于显示图标字体</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">图标图片地址</label>
                <div class="col-md-10">
                    <div class="bootstrap-filestyle input-group">
                        <input type="text" id="cover-file-path" name="icon_url" class="form-control" value="{$info.icon_url|default=''}" placeholder="可以填写外链地址"> 
                        <span class="input-group-btn">
                            <label class="btn btn-default fileinput-button">
                                <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> 
                                <span class="buttonText">选择文件</span>
                                <input id="upload-cover" type="file" name="files[]" multiple
                                data-file-type="image"
                                data-upload-type="icon"
                                data-target-path="#cover-file-path">
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">年付金币</label>                   
                <div class="col-sm-2">
                    <input type="text" name="rule[year_coin]" class="form-control"  value="{$info.rule.year_coin|default='0'}">
                </div>

                <label class="col-md-2 control-label">半年付金币</label>
                <div class="col-sm-2">
                    <input type="text" name="rule[half_year_coin]" class="form-control"  value="{$info.rule.half_year_coin|default='0'}">
                </div>

                <label class="col-md-2 control-label">月付金币</label>
                <div class="col-sm-2">
                    <input type="text" name="rule[month_coin]" class="form-control"  value="{$info.rule.month_coin|default='0'}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">上传音乐</label>
                <div class="col-sm-4"> 
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_upload_song]" value="1">开启
                    </label>
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_upload_song]" value="0">关闭
                    </label>
                </div>

                <label class="col-md-2 control-label">创建专辑</label>
                <div class="col-sm-4"> 
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_create_album]" value="1">开启
                    </label>
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_create_album]" value="0">关闭
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">上传头像</label>
                <div class="col-sm-4"> 
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_upload_avatar]" value="1">开启
                    </label>
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_upload_avatar]" value="0">关闭
                    </label>
                </div>

                <label class="col-md-2 control-label">发送私信</label>
                <div class="col-sm-4"> 
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_send_letter]" value="1">开启
                    </label>
                    <label class="radio-inline i-radios">
                        <input type="radio" name="rule[is_send_letter]" value="0">关闭
                    </label>
                </div>
            </div>

            <input type="hidden" name="id" value="{$info.id|default=''}">
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-6 text-left">
                    <button onclick="" type="button"
                            class="btn btn-default btn-return">
                        <i class=" icon-arrow-left16 position-right"></i>返回上页
                    </button>
                    <button type="submit" class="btn btn-primary" type="submit">
                        确认提交<i class="icon-arrow-right16 position-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{:hook('file', ['wiget'=>'Uplaod', 'is_admin' => true, 'element' => ['#upload-cover']])}
<script type="text/javascript">
    $.Action.setValue("rule[is_upload_song]", "{$info.rule.is_upload_song|default='1'}");
    $.Action.setValue("rule[is_create_album]", "{$info.rule.is_create_album|default='1'}");
    $.Action.setValue("rule[is_upload_avatar]", "{$info.rule.is_upload_avatar|default='1'}");
    $.Action.setValue("rule[is_send_letter]", "{$info.rule.is_send_letter|default='1'}");
</script>
{/block}