{extend name="public:base" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{:isset($info['id'])?'编辑':'新增'}网站文档</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-fixed form-submit" action="{:isset($info['id'])? url('update') : url('save')}">
            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">文档标题</label>
                <div class="col-md-6 col-xs-12">
                    <input type="text" name="title" class="form-control" value="{$info.title|default=''}">
                    <span class="help-block">标题不能为空</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-xs-12 text-right control-label">标题别名</label>
                <div class="col-md-2 col-xs-12">
                    <input type="text" name="name" class="form-control" value="{$info.name|default=''}">
                    <span class="help-block">留空将自动获取拼音</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">所属类型</label>
                <div class="col-sm-2">
                    <select name="appname" class="form-control" >
                        <option value="">选择所属类型</option>
                        <option {eq name='type' value='about'}selected{/eq} value="about">关于网站</option>
                        <option {eq name='type' value='help'}selected{/eq} value="help">网站帮助</option>

                    </select>
                </div>
            </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">文档内容</label>
                        <div class="col-md-10">
                            <textarea id="ranks-introduce" rows="16" class="form-control" name="content">{$info.content|default=''}</textarea>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-lg-6 text-left">
                            <button onclick="" type="button"
                                    class="btn btn-default btn-return">
                                <i class="icon-arrow-left16 position-right"></i>返回上页
                            </button>
                            <button type="submit" class="btn btn-primary" type="submit">
                                确认提交<i class="icon-arrow-right16 position-right"></i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{:hook('articleEdit', ['wiget'=>'wangEditor','is_admin' => true,'element' => 'ranks-introduce'])}
{/block}
