<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">批量替换字符</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">          
                <form class="form-horizontal form-submit" action="{:url('bulk?type=replace')}" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">替换的字段</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="rep_field">
                                <option>选择替换的字段</option>
                                <option value="name">替换讲道名称</option>
                                <option value="listen_url">替换试听地址</option>
                                <option value="down_url">替换下载地址</option>
                                <option value="lrc">替换讲道歌词</option>
                            </select>
                        </div>      
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">替换前的字符</label>
                        <div class="col-sm-6">
                            <input type="text" name="rep_before" required="" placeholder="输入要替换的字符" required="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">替换后的字符</label>
                        <div class="col-sm-6">
                            <input type="text" name="rep_after" placeholder="输入替换后的字符" class="form-control">
                            <span class="help-block">留空将会替换空字符</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default">
                                确认替换
                            </button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-primary m-l-5">
                                取消
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>