{extend name="public:base" /}
{block name="content"}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-4">
        <h4 class="page-title">讲道管理</h4>
    </div>
    <div class="col-sm-4 pull-right text-right text-left-xs m-t-md">
        <form class="searchform" action="{:url('index')}" id="search-form">
            <div class="input-group">
                <input type="text" class="form-control searchbox" id="search-word" name="keys" placeholder="搜索..." >
                <span class="input-group-btn">
                    <button class="btn btn-default btn-icon" id="search-submit" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <!-- Left sidebar -->
    <div class="col-lg-2 col-md-3">
        <div class="p-10">
            <div class="list-group mail-list m-t-20">
                <a class="list-group-item b-0 {eq name="status" value="success"}active{/eq}" href="{:url('?status=success')}">
                    <i class="fa fa-circle text-success m-r-10"></i>正常
                </a>
                <a class="list-group-item b-0 {eq name="status" value="audit"}active{/eq}" href="{:url('?status=audit')}">
                    <i class="fa fa-circle text-warning m-r-10"></i>待审
                </a>
                <a class="list-group-item b-0 {eq name="status" value="fail"}active{/eq}" href="{:url('?status=fail')}">
                    <i class="fa fa-circle m-r-10"></i>禁用
                </a>
                <a class="list-group-item b-0 {eq name="status" value="trash"}active{/eq}" href="{:url('?status=trash')}">
                    <i class="fa fa-circle text-danger m-r-10"></i>回收站
                </a>
                <a class="list-group-item b-0 {eq name="status" value="all"}active{/eq}" href="{:url('?status=all')}">
                    <i class="fa fa-circle text-info m-r-10"></i>全部
                </a>
            </div>

            <h3 class="panel-title m-t-20">音乐分类</h3>
            <div class="list-group b-0 mail-list">
                {volist name=":get_genre_tree()" id="vo"}
                <a class="list-group-item b-0 {eq name="genre" value="$vo['id']"}active{/eq}" href="{:url('/songs/index/genre/'.$vo['id'])}">
                    <span class="fa fa-list text-warning m-r-10">
                    </span>
                    {$vo['name']}
                </a>
                {present name="vo['_child']"}
                    {volist name="vo['_child']" id="cl"}
                    <a class="list-group-item b-0 m-l-10 {eq name="genre" value="$cl['id']"}active{/eq}" href="{:url('/songs/index/genre/'.$cl['id'])}">
                        <span class="fa fa-angle-right m-r-10">
                        </span>
                        {$cl['name']}
                    </a>
                    {/volist}
                {/present}
                {/volist}
            </div>
        </div>
    </div>
    <!-- End Left sidebar -->
    <!-- Right Sidebar -->
    <div class="col-lg-10 col-md-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-toolbar m-t-20" role="toolbar">
                    <div class="btn-group">
                        <button class="btn btn-primary check-btn" data-target=".check-ids" type="button">
                            全选/反选
                        </button>
                    </div>
                    <div class="btn-group">
                        <button aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                            按推荐位<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {foreach name=":config('music_position')" item="pos" key="pk"}
                            <li {eq name="curpos" value="$pk"}class="active"{/eq}>
                                <a href="{:url('?pos='.$pk)}">{$pos}</a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                            按榜单<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {foreach name=":get_ranks()" item="ranks" key="rk"}
                            <li {eq name="rank" value="$ranks['id']"}class="active"{/eq}>
                            <a href="{:url('?rank='.$ranks['id'])}">{$ranks['name']}</a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button aria-expanded="false" class="btn btn-primary waves-effect waves-light dropdown-toggle" data-toggle="dropdown" type="button">
                            批量
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{:url('bulk?type=changes')}" data-target=".check-ids" id="btn-batch-changes" >修改</a>
                            </li>
                            <li>
                              <a href="{:url('bulk?type=replace')}" class="open-form-modal">替换</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button href="{:url('bulk?type=recommend')}" data-target=".check-ids" id="btn-batch-rec" class="btn btn-default" type="button">
                            推荐到
                        </button>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-success" href="{:url('create')}">
                            新增讲道
                        </a>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn btn-success success-batch" data-tip="" data-target=".check-ids"  data-url="{:url('setStatus?status=1')}" type="button">
                            启用
                        </button>
                        {if condition="$Request.param.status eq 'trash'"}
                        <button class="btn btn-danger clear-batch"  data-target=".check-ids" data-url="{:url('clear')}" type="button">
                            清空回收站
                        </button>
                        {else /}
                        <button class="btn btn-warning disable-empty" data-target=".check-ids"  data-url="{:url('setStatus?status=0')}" type="button">
                            禁用
                        </button>
                        <button class="btn btn-danger delete-batch" data-tip="" data-target=".check-ids"  data-url="{:url('setStatus?status=-1')}" type="button">
                            删除
                        </button>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="panel panel-default m-t-20">
            <div class="panel-body p-0">
                <div class="table-responsive">

                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                            <tr>
                                <th width="80">
                                    <div class="checkbox checkbox-primary checkbox-single m-r-5">
                                        
                                    </div>
                                    <div class="btn-group dropdown">
                                        排序
                                        <button type="button" class="btn btn-white btn-xs dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{:url('?field=id&order=desc')}">ID倒序</a></li>
                                            <li><a href="{:url('?field=id&order=asc')}">ID正序</a></li>
                                            <li><a href="{:url('?field=create_time&order=desc')}">创建日期倒序</a></li>
                                            <li><a href="{:url('?field=create_time&order=asc')}">创建日期正序</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th>讲道名称</th>
                                <th>所属歌手</th>
                                <th>所属专辑</th>
                                <th width="80">所属分类</th>
                                <th width="80">创建日期</th>
                                <th width="120">操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="_list" id="vo"}
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary m-r-5">
                                        <input id="checkbox{$vo['id']}" class="check-ids" name="id[]" type="checkbox" value="{$vo['id']}">
                                        <label for="checkbox{$vo['id']}"></label>
                                    </div>     
                                    <i class="fa fa-circle m-l-5 text-{$statusStyle[$vo['status']]}">
                                    </i>
                                </td>
                                
                                <td>{$vo['name']}</td><td>
                                    <a href="{:url('?artist='.$vo['artist_id'])}">{$vo['artist_name']}</a>
                                </td>
                                <td><a href="{:url('?album='.$vo['album_id'])}">{$vo['album_name']}</a></td>
                                <td>
                                    <a href="{:url('?genre='.$vo['genre_id'])}">
                                        {php}$genreInfo = get_simple_info($vo['genre_id'], 'genre');{/php}
                                        {$genreInfo['name']}
                                    </a>
                                </td>
                                <td>{$vo['create_time']|time_format="Y-m"}</td>
                                <td>
                                    {eq name="vo['status']" value="2"}
                                    <a class="table-action-btn open-form-modal" title="审核[{$vo.name}]" href="{:url('audit?id='.$vo['id'])}">
                                        <i class="fa fa-send text-warning"></i>
                                    </a>
                                    {/eq}
                                    <a href="{:url('edit?id='.$vo['id'])}" title="编辑" class="table-action-btn">
                                        <i class="fa fa-pencil text-info"></i>
                                    </a>
                                    {if condition="$vo['status'] eq 1"}
                                    <a class="table-action-btn ajax-get" title="禁用[{$vo.name}]" href="{:url('setStatus?id='.$vo['id'].'&status=0')}">
                                        <i class="fa fa-ban text-warning"></i>
                                    </a>
                                    {elseif condition="$vo['status'] eq 0"/}
                                    <a class="table-action-btn ajax-get" title="启用[{$vo.name}]" href="{:url('setStatus?id='.$vo['id'].'&status=1')}">
                                        <i class="fa fa-check-circle-o text-success"></i>
                                    </a>
                                    {/if}
                                    {neq name="vo['status']" value="-1"}
                                    <a href="{:url('setStatus?status=-1&id='.$vo['id'])}" title="{$vo['name']}" class="table-action-btn ajax-del">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>                            
                                    {/neq}
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- panel body -->
        </div>
        <!-- panel -->
        <div class="row">
            <div class="col-sm-3">
                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">     共计{$_total}条数据
                </div>
            </div>
            <div class="col-sm-9">
                <div class="dataTables_paginate paging_simple_numbers text-right" id="datatable_paginate">
                    {$_page}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<div id="batch-replace-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">批量替设置推荐位</h4> 
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label text-right col-lg-2">推荐位</label>
                    <div class="col-lg-10">
                        {if condition="isset($info)"}
                        {foreach name=":config('music_position')" item="vo" key="k"}
                        <label class="checkbox-inline i-checkboxs">
                            <input type="checkbox" name="position" {if condition="$k & $info['position']" }checked="checked"{/if} value="{$k}">{$vo}
                        </label>
                        {/foreach}
                        {else /}
                        {foreach name=":config('music_position')" item="vo" key="k"}
                        <label class="checkbox-inline i-checkboxs">
                            <input type="checkbox" name="position" value="{$k}">{$vo}
                        </label>
                        {/foreach}
                        {/if} 
                        <span class="help-block">可选择多个推荐位</span>
                    </div>
                </div>              
            </div> 
        </div> 
    </div>
</div>
<script type="text/javascript">
$(function ($) {
    $(document).on('click', '#btn-batch-replace', function(e) {
        $('#batch-replace-modal').modal('toggle');
    });

    $(document).on('click', '#btn-batch-changes,#btn-batch-rec', function(e) {
        e.preventDefault();
        var $this = $(this);
        var inputs  = $($this.data('target') + ':checked');     
        if (inputs.size() < 1) {
            $.Notify.msg('请至少选中一个');
            return false;
        };

        var ids = [];
        inputs.each(function (e) {
            ids.push($(this).val());
        });

        $.Action.formModal($this, function (dom, form) {
           form.find("input[name=ids]").val(ids.join(','));
        });
    });
});
</script>
{/block}
